$link: #4787fb;

@import "theme/_main";

// You can add additional styling here
.navbar-item.navbar-logo {
  margin: 0 12px;
}

.product {
  .feature-img {
    padding: 15px;
	//padding: 0px;
    background-origin: content-box;
  }
}

@media (min-width: 1050px) {
  .home {
    .floatingHero .feature-title {
      font-size: 4.5rem;
    }
  }
}

.contentTypesStat {
  .statistics-cards {
    justify-content: space-between;
  }

  .statistic {
    flex: 0 0 300px;
    width: 300px;
    margin: 24px 12px;
  }

  .feature-img {
    border-radius: 25%;
    overflow: hidden;
    height: 300px;
    width: 300px;
  }

  .feature-title {
    font-size: 45px;
    margin: 0;
  }

  .feature-description {
    font-size: 24px;
  }
}

@media (max-width: 1250px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }

    .statistic {
      flex: 0 0 250px;
      width: 250px;
    }

    .feature-img {
      height: 250px;
      width: 250px;
    }

    .feature-title {
      font-size: 35px;
      margin: 0;
    }

    .feature-description {
      font-size: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }

    .statistic {
      flex: 0 0 200px;
      width: 200px;
    }

    .feature-img {
      height: 200px;
      width: 200px;
    }

    .feature-title {
      font-size: 35px;
      margin: 0;
    }

    .feature-description {
      font-size: 20px;
    }
  }
}

// Configurations for radius cards in home page 
.features {
  article.feature {
    border-radius: 25px 0px 0px 0px;
  }
}

/* ### FOR Home Page Cards ### */
article.feature {
	flex: 0 0 350px;
	border: none;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
	//	border-radius: 3px;
	// border-radius: 15px;
	border-radius: 25px 25px 0 0;
}

.feature-img img, .feature-img video, .feature-img picture {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
article, aside, figure, footer, header, hgroup, section {
    display: block;
}
/* ### FOR Home Page Cards ### */

/* ##################### */
.postHeader .feature-img {
	border: none;
}
.feature .feature-img {
    border-bottom: none;
}
.has-8-elements .feature-pre-title {
	background: rgba(0,0,0,0.25);
	position: absolute;
	top: -225px;
	left: -15px;
	border-radius: 15px;
	font-size: 0.8em;
	padding: 3px 12px;
	//box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
	color: white;
	font-size: x-small;
	font-weight: 600;
}
/* ############### 08-08-2025 */

/*
About page styling.
*/
.about-data {
  flex-direction: row-reverse;
}

.about_ahrc_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.about_resources .feature-title {
  font-size: 2.5rem;
}

/*
Resources page styling.
*/
.resource-dashboard-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  height: 60vh;
  width: 90vw;
  margin-left: 5vw;
  padding: 10px;
}

.resource-dashboard-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .resource-dashboard-left-title {
    font-size: 1.5rem;
    font-weight: bold;

    @media (max-width: 1050px) {
      align-self: center;
    }
  }

  .resource-dashboard-left-description {
  }

  .feature-cta {
    align-self: center;
  }
}

.resource-dashboard-right {
  flex: 1;

  @media (max-width: 1050px) {
    display: none;
  }
}

/*
Home page styling.
*/
.home_main {
  @extend .floatingHero;
  @extend .home;
  @extend .hasWhiteText;

  color: rgba(0, 0, 0, 0.45);
  // color: #289422;
  height: auto;
  min-height: calc(100vh - var(--navbar-height));

  .feature-content {
    margin-bottom: calc(var(--navbar-height) / 2);
  }

  .home-feature-title {
    color: white;
    font-size: 54px;
    margin-bottom: 42px;
    font-weight: bold;
  }

  .home-feature-subtitle {
    color: lightgray;
    font-size: 32px;
    font-weight: bold;
  }

  #home-feature-subtitle-count {
    display: none;

    span {
      color: white;
    }
  }

  .home-search-wrapper {
    display: flex;
    justify-content: center;

    .home-search {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 650px;

      @media (max-width: 670px) {
        width: 350px;
      }

      .home-tabs {
        display: flex;
        justify-content: center;
        font-size: 16px;
        color: gray;

        div {
          flex-grow: 1;

          &:first-child {
            border-radius: 4px 0 0 0;
          }

          &:last-child {
            border-radius: 0 4px 0 0;
          }
        }
      }

      input[type="search"] {
        border: none;
        border-radius: 0 0 4px 4px;
        background: white;
        margin: 0;
        padding: 7px 8px;
        font-size: 16px;
        height: 40px;
        outline: none;
        width: 100%;
      }

      button[type="submit"] {
        position: absolute;
        right: 0;
        bottom: 0;
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 20px;
        background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        cursor: pointer;
        opacity: 0.95;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.home_video {
  @extend .product;

  .feature-img {
    display: flex;
    justify-content: center;

    iframe {
      border-radius: 1.3rem;
      max-width: 720px;
      max-height: 405px;
      flex-grow: 1;
    }
  }
}

/*
News page styling.
 */
.news_body {
  .features {
    background-color: rgb(41, 80, 119);

    .feature {
      border: unset;
    }
  }
}

/* ### Navigation ### */
/* For Dropdown menu */
$nav-text-color: #0c0c0c;
$nav-item-bg: #E8E8E8;
.navbar-start{
    .navbar-link, .navbar-item{
        color: $nav-text-color !important;
    }
    .navbar-link:not(.is-arrowless)::after{
        border-color: $nav-text-color !important
    }
}
.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active{
    background-color: transparent;
}
.navbar-dropdown{
	padding: 0;
	border-radius: 0;
    .navbar-item{
        border-left: 4px solid transparent;
        transform: all .25s;
    }
    .navbar-item:hover{
        border-left: 4px solid $nav-text-color;
        background-color: $nav-item-bg;
    }
}
/* ### Navigation ### */
/* For Dropdown menu */


/* ### TABLE ### */
$text-color: #0C0C0C;
$btn-color: #ED6307;
.table{
    border-radius: 0 !important;
    a{
        color: $btn-color !important;
        text-decoration: underline !important;
    }
    thead{
        tr{
            background-color: #C8C8C8 !important;
            th{
                color: $text-color !important;
            }
        }
    }    
    tbody{
        tr{
            td{
                border: 1px solid #D5D5D5 !important;
            }
        }
    }
    tbody tr:last-of-type{
        border-bottom: 0 !important;
    }
}
table{
    thead{
        tr{
            th{
                color: $text-color !important;
                div{
                    button{
                        color: $text-color !important;
                    }
                    div button{
                        color: #ed6307 !important;
                        margin-left: 1em !important;
                    }

                }
            }
        }
    }
    tbody{
        tr{
            td{
                color: $text-color !important;
                svg{
                    color: $text-color !important;
                }
            }
        }
    }
    .css-ozqw81:hover {
        background-color: #ed6307;
        border-color: #ed6307;
        color: white;
    }
}
/* ##### For Home Page Cards Configurations */

.features {
  background-attachment: fixed;
  background-color: #FFFFFF;
}

.content figure, .feature-content figure, .content figure:not(:last-child), .feature-content figure:not(:last-child) {
  margin-bottom: 0em;
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
}

/* 
START NEW CSS 
Added By Kit Elloran 
Date : 2025-08-08
ASEAN Centre for Biodiversity
*/

// Configuration for Cards in Home pge //
/*
$card-text-color: #0C0C0C;
article.feature{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
	-webkit-box-shadow: 0px 4px 6px 2px rgba(27, 27, 27, 0.11);
    -moz-box-shadow: 0px 4px 6px 2px rgba(27, 27, 27, 0.11);
    box-shadow: 0px 4px 6px 2px rgba(27, 27, 27, 0.11);
    border-radius: .20em !important;
    h3{
        font-size: 1.3em;
		// font-size: 1em;
    }
    p{
        font-size: .95em;
		// font-size: .75em;
    }
    .feature-img{
        border-radius: .20em !important;
        overflow: hidden;
    }
    .feature-img img{
        width: 100%;
    }
    .feature-title a{
        font-size: 1em;
        font-weight: 700;
        color: $card-text-color;
    }
    a{
        text-decoration: none;
    }
    .feature-pre-title{
        font-size: .75rem;
        opacity: .5;
    }
    .feature-content{
        padding: 0;
        padding-top: 1em !important;
    }
}
*/
